body

    {
    	background-color: #777

}

div {
	align-content: center;
	width: 900px;
    padding: 30px;
    margin: -5px;
    margin-left: 200px;
    border: 0px solid black;
    background-color: #ebebeb;
    
}